* {
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgb(207,56,19);
    background: linear-gradient(4deg, rgba(177,39,5,1) 1%, rgba(64,108,146,1) 43%, rgba(52,102,134,1) 75%, rgba(8,32,99,1) 95%);
}

h1, h2 {
    color: #fff;
}

ul,li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list {
    width: 978px;
}

.item {
    background: rgb(210, 224, 233);
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #2E1A47;
    padding: 1rem;
    margin: 1rem;
    transition: all 0.4s ease;
}

.item:hover {
    transform: scale(1.05);
}

#title {
    font-weight: bold;
    width: 200px;
}

input[type="text"] {
    width: 400px;
    border: 1px solid #2E1A47;
    border-radius: 5px;
    padding: 1rem;
    margin-right: 0.5rem;
}

button {
    border: none;
    background-color: #390c6e;
    color: white;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s ease;
}

button:hover {
    transform: scale(1.1);
    background-color: #2E1A47;
    color: #fff;
}
